# building folder
BUILD

# mbed library folder
mbed-os
sd-driver-spi
sd-driver

# unused files
.tags
.tags_sorted_by_file
.DS_Store
.mbed
mbed_settings.py
mbed_settings.pyc
build.py
debug.py

# repo
.git